
<!DOCTYPE html>
{% load static %}
<html class="wide wow-animation" lang="en">
  <head>
    <title>Ali Yılmaz</title>
    <meta charset="utf-8">
    <META HTTP-EQUIV="Content-language" CONTENT="tr">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="with=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<link rel="icon" href="{% static  'images/favicon.ico' %}" type="image/x-icon">-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700%7COpen+Sans:400,600,700%7CSource+Code+Pro:300,400,500,600,700,900%7CNothing+You+Could+Do%7CPoppins:400,500">
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href=" ../../static/css/fonts.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}
          .changeit{
      background: #0556a8;
      font-family: "monospace", monospace;
      }
      .changeit:hover{
      background-color: #3a0202;
        font-family: "3ds Light";
      }
      .UcDtext{
         color: #FFF;
         font: 900 100px/1 'Source Sans Pro', Arial, sans-serif;
         text-align:center;
         text-shadow: 0 2px 0 #ccc,
         0 4px 0 #c9c9c9,
         0 4px 0 #7a0101,
         0 4px 0 #001f44,
         0 5px 0 #34a0ff,
         0 6px 1px rgba(147, 63, 63, 0.1),
         0 0 5px rgb(179, 14, 14),
         0 1px 3px rgba(0,0,0,.3),
         0 3px 5px rgb(58, 2, 2),
         0 5px 10px rgb(5, 86, 168),
         0 10px 10px rgb(255, 255, 255),
         0 20px 20px rgba(33, 7, 7, 0.15);
        }
    </style>
  </head>
  <body>

    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap" style="position: absolute">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->

                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item "><a class="rd-nav-link" href="#">Ana Sayfa</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="#hakkım1">Hakkımda</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="#çalışmadeneyim">Çalışma ve Deneyimlerim </a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="#iletişimkur" ><p>iletişim</p> </a>
                      </li>

                    </ul>
                  </div>
                </div>
                <div class="rd-navbar-collapse">
                  <ul class="socialite-list">
                    <li><a class="icon novi-icon socialite fa-facebook" href="#"></a></li>
                    <li><a class="icon novi-icon socialite fa-twitter" href="#"></a></li>
                    <li><a class="icon novi-icon socialite fa-instagram" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!--Swiper-->
      <section class="section swiper-container swiper-slider swiper-slider-1" data-loop="true" data-autoplay="3892" data-simulate-touch="false">
        <div class="swiper-wrapper text-center">
          <div class="swiper-slide context-dark" data-slide-bg="../../static/images/gear.jpeg">
            <div class="swiper-slide-caption section-md">
              <div class="container">
                <div class="row justify-content-lg-center">
                  <div class="col-lg-8">
                    <b><h1 class="UcDtext" data-caption-animate="fadeInUp" data-caption-delay="200" style="color: rgb(250,253,255);font-size: 40px">Merhaba,<br> ben Ali Yılmaz</h1></b>

                    <div class="button-wrap" data-caption-animate="fadeInUp" data-caption-delay="300"><a class="button button-modern button-custom-size-1" href="#hakkım1">HAKKIMDA</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide context-dark" data-slide-bg="../../static/images/arkaplan2.jpg">
            <div class="swiper-slide-caption section-md">
              <div class="container">
                <div class="row justify-content-lg-center">
                  <div class="col-lg-8">
                    <b><h1 class="UcDtext" data-caption-animate="fadeInUp" data-caption-delay="200" style=" ; color: #ffffff;font-size: 40px">Kişisel websiteme hoşgeldiniz.</h1></b>
                    <div class="button-wrap" data-caption-animate="fadeInUp" data-caption-delay="300"><a class="button button-modern button-custom-size-1" href="#hakkım1">HAKKIMDA</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide context-dark" data-slide-bg="../../static/images/dişli-çeşitleri.gif">
            <div class="swiper-slide-caption section-md">
              <div class="container">
                <div class="row justify-content-lg-center">
                  <div class="col-lg-8">
                    <p2 data-caption-animate="fadeInUp" class="UcDtext" data-caption-delay="200" style="color: #ffffff;font-size: 40px">Başarılarımı ve hedeflerimi bu sitede sizlerle paylaşacağım</p2>
                    <div class="button-wrap" data-caption-animate="fadeInUp" data-caption-delay="300"><a class="button button-modern button-custom-size-1" href="#hakkım1">HAKKIMDA</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--Swiper Pagination-->
        <div class="swiper-pagination"></div>
      </section>

      <section id="hakkım1" class="parallax-container section-lg text-center mb-5" data-parallax-img="images/beyazarkaplan.jpg">
        <div class="parallax-content">
          <div class="container" style="color: #0e162e; ">
            <h6 class="text-gray-600"></h6>
             <h3 style="color: #0e162e; ">HAKKIMDA</h3>
               <div class="row"   >
                    <div class="col-lg-4 col-md-6 col-sm-12  "   > <img style="border-radius: 40px;width: 80%;height: auto"  src="../../static/images/hakkım.jpg"></div>
                    <div class="col-lg-8 col-md-6 col-sm-12 border border-5" style="border-radius: 20px;border:20px;" >
                      <p class="mt-4" style="font-size: 20px;font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif">
                        Adım Ali Yılmaz. 30 Kasım 2001'de Polatlı Ankara'da doğdum. İlköğretim eğitimimi Temelli ilkolunda aldım.
                        Ardından Özkent Akbilek Fen Lisesini kazandım. Lisede sayısal alanda ilerlemeyi seçtim ve
                        sayısal alandan sınava girdim. Sınavın sonucunda ise Odtü Makina Mühendisliğini kazandım.
                        Henüz 3. sınıf 1. dönemdeyim ve mezun olmaya yakınım.<b style="color: #f5543f"> Makina eğitimim sürecinde kendime neler kattığımı
                        nasıl tecrübeler edindiğimi ve öğrenmeyi hedeflediğim konuları sizlerle bu site üzerinden paylaşacağım.
                        Bir nevi bu site benim porfolyom olacak. </b>
                      </p>
                    </div>
               </div>
          </div>
        </div>
      </section>
      <hr>
      <br>
      <hr>
      <section class="container pt-lg-5 pb-lg-5" style="text-align: center;color: #0D0A0A">
         <h3 style="color: #0e162e"> İLGİLENDİĞİM ALANLAR VE UYGULAMALAR</h3>
      </section>

      <section class="section" data-lightgallery="group" id="çalışmadeneyim">
        <div class="row no-gutters">
          <div class="col-lg-3 col-sm-6 border border-5 " style=" border-color: #cb2027">
            <div class="thumbnail-classic"><a class="thumbnail-classic-figure" data-lightgallery="item" href="../../static/images/image-original-01-1200x800.jpg"><img src="../../static/images/finalphoto.png" class="w-100 h-100" style="width: 480px; height: 350px;" alt="" width="480" height="175"/></a>
              <div class="thumbnail-classic-caption">
                <h5 class="thumbnail-classic-title">KATI MODELLEME</h5>
                <time class="thumbnail-classic-time" datetime="2019-09-19">Sep 19, 2019</time>
              </div>
            </div>
            <a  href="/siemenx">
              <div   class="changeit  " style="border-color: #222d4f;border-style: double;border-width: thick">
                 <div   style="color: #9bdee4;font-size: 30px;padding-left: 35%"   >İNCELE</div>
              </div>
            </a>
            </div>

          <div class="col-lg-3 col-sm-6 border border-5 " style=" border-color: #cb2027">
            <div class="thumbnail-classic"><a class="thumbnail-classic-figure" data-lightgallery="item" href="../../static/images/image-original-02-1200x800.jpg"><img src="../../static/images/solidfinal.png" alt="" width="480" height="175"/></a>
              <div class="thumbnail-classic-caption">
                <h5 class="thumbnail-classic-title">KATI MODELLEME</h5>
                <time class="thumbnail-classic-time" datetime="2019-09-19">Sep 19, 2019</time>
              </div>
            </div>
            <a  href="/solidworks">
              <div   class="changeit  " style="border-color: #222d4f;border-style: double;border-width: thick">
                 <div   style="color: #9bdee4;font-size: 30px;padding-left: 35%"   >İNCELE</div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6 border border-5 " style=" border-color: #cb2027">
            <div class="thumbnail-classic"><a class="thumbnail-classic-figure" data-lightgallery="item" href="../../static/images/image-original-03-1200x800.jpg"><img src="../../static/images/matlab.png" alt="" width="480" height="175"/></a>
              <div class="thumbnail-classic-caption">
                <h5 class="thumbnail-classic-title">MATLAB</h5>
                <time class="thumbnail-classic-time" datetime="2019-09-19">Sep 19, 2019</time>
              </div>
            </div>
            <a  href="/matlab">
              <div   class="changeit  " style="border-color: #222d4f;border-style: double;border-width: thick">
                 <div   style="color: #9bdee4;font-size: 30px;padding-left: 35%"   >İNCELE</div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6 border border-5 " style=" border-color: #cb2027">
            <div class="thumbnail-classic"><a class="thumbnail-classic-figure" data-lightgallery="item" href="../../static/images/image-original-04-1200x800.jpg"><img src="../../static/images/oyungel.jpg" alt="" width="480" height="175"/></a>
              <div class="thumbnail-classic-caption">
                <h5 class="thumbnail-classic-title">OYUN GELİŞTİRME </h5>
                <time class="thumbnail-classic-time" datetime="2019-09-19">Sep 19, 2019</time>
              </div>
            </div>
            <a  href="/gamedevelop">
              <div   class="changeit  " style="border-color: #222d4f;border-style: double;border-width: thick">
                 <div   style="color: #9bdee4;font-size: 30px;padding-left: 35%"   >İNCELE</div>
              </div>
            </a>
          </div>
        </div>
      </section>
      <br>
      <!--################################################################################333-->
      <section class="section pb-lg-5 pt-lg-5" data-lightgallery="group">
        <div class="row no-gutters  "  >
          <div class="col-lg-3 col-sm-6 border border-5 " style=" border-color: #cb2027;">
            <div class="thumbnail-classic"><a class="thumbnail-classic-figure" data-lightgallery="item" href="../../static/images/image-original-01-1200x800.jpg"><img src="../../static/images/gui.png" class="w-100 h-100" style="width: 480px; height: 350px;" alt="" width="480" height="175"/></a>
              <div class="thumbnail-classic-caption">
                <h5 class="thumbnail-classic-title">ARA YÜZ PROGRAMLAMA</h5>
                <time class="thumbnail-classic-time" datetime="2019-09-19">Sep 19, 2019</time>
              </div>
            </div>
            <a  href="/gui">
              <div   class="changeit  " style="border-color: #222d4f;border-style: double;border-width: thick">
                 <div   style="color: #9bdee4;font-size: 30px;padding-left: 35%"   >İNCELE</div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6 border border-5 " style=" border-color: #cb2027">
            <div class="thumbnail-classic"><a class="thumbnail-classic-figure" data-lightgallery="item" href="../../static/images/image-original-02-1200x800.jpg"><img src="../../static/images/ansysfirst.jpg" alt="" width="480" height="175"/></a>
              <div class="thumbnail-classic-caption">
                <h5 class="thumbnail-classic-title">ANALİZ</h5>
                <time class="thumbnail-classic-time" datetime="2019-09-19">Sep 19, 2019</time>
              </div>
            </div>
            <a  href="/ansys">
              <div   class="changeit  " style="border-color: #222d4f;border-style: double;border-width: thick">
                 <div   style="color: #9bdee4;font-size: 30px;padding-left: 35%"   >İNCELE</div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6 border border-5 " style=" border-color: #ff8088">
            <div class="thumbnail-classic"><a class="thumbnail-classic-figure" data-lightgallery="item" href="../../static/images/image-original-03-1200x800.jpg"><img src="../../static/images/grafik.png" alt="" width="480" height="175"/></a>
              <div class="thumbnail-classic-caption">
                <h5 class="thumbnail-classic-title">GRAFİK TASARIM</h5>
                <time class="thumbnail-classic-time" datetime="2019-09-19">Sep 19, 2019</time>
              </div>
            </div>
            <a  href="/grafiktasarlama">
              <div   class="changeit  " style="border-color: #222d4f;border-style: double;border-width: thick">
                 <div   style="color: #9bdee4;font-size: 30px;padding-left: 35%"   >İNCELE</div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6 border border-5 " style=" border-color: #ff000b">
            <div class="thumbnail-classic"><a class="thumbnail-classic-figure" data-lightgallery="item" href="../../static/images/image-original-03-1200x800.jpg"><img src="../../static/images/pythonfirst.png" alt="" width="480" height="175"/></a>
              <div class="thumbnail-classic-caption">
                <h5 class="thumbnail-classic-title">PYTHON</h5>
                <time class="thumbnail-classic-time" datetime="2019-09-19">Sep 19, 2019</time>
              </div>
            </div>
            <a  href="/python">
              <div   class="changeit  " style="border-color: #222d4f;border-style: double;border-width: thick">
                 <div   style="color: #9bdee4;font-size: 30px;padding-left: 35%"   >İNCELE</div>
              </div>
            </a>
          </div>


        </div>
      </section>
      <br>
      <hr>
      <br>
      <hr>
      <section class="container p-5" >
        <h2 class="text-center border-bottom text-capitalize" style="color: #0D0A0A;font-size:40px; ">Ne Kadar Biliyorum?</h2>
       <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mt-2"  >
          <h4 class="border-bottom pt-2" style="color: #ff0000" >Yüzey ve katı modelleme </h4>
          <br>
          <h6 style="color: #0D0A0A"> SOLIDWORKS</h6>
          <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-danger"style="width: 65%">65%</div>
          </div>
          <br>
          <h6 style="color: #0D0A0A"> SIEMENS NX 11</h6>
          <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success" style="width: 70%">70%</div>
          </div>
          <br>
          <h6 style="color: #0D0A0A"> ANSYS ÇİZİM </h6>
          <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success" style="width: 25%">25%</div>
          </div>
          <br>
          <h6 style="color: #0D0A0A"> ANSYS ANALİZ </h6>
          <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success" style="width: 35%">35%</div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-2 mb-4" style="">
          <h4 class="border-bottom pt-2" style="color: #ff0000" >Programlama</h4>
          <br >
          <h6 style="color: #0D0A0A"> PYTHON </h6>
          <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success" style="width: 65%">65%</div>
          </div>
          <br>
          <h6 style="color: #0D0A0A">HTML/CSS/BOOTSRAP</h6>
          <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success" style="width: 70%">70%</div>
          </div>
          <br>
          <h6 style="color: #0D0A0A"> MYSQL/DATABASE </h6>
          <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success" style="width: 60%">60%</div>
          </div>
          <br>
          <h6 style="color: #0D0A0A"> WEB TASARIM </h6>
          <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success" style="width: 55%">55%</div>
          </div>
          <br>
          <h6 style="color: #0D0A0A"> MATLAB </h6>
          <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success" style="width: 35%">35%</div>
          </div>
        </div>
          <div class="col-lg-4 col-md-6 col-sm-12 mt-2 mb4 "  style="">
          <h4 class="border-bottom pt-2" style="color: #ff0000" >Grafik Tasarım </h4>
          <br>
          <h6 style="color: #0D0A0A"> PHOTOSHOP</h6>
          <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success" style="width: 15%">15%</div>
          </div>
          <br>
          <h6 style="color: #0D0A0A"> ILLUSTRATOR</h6>
          <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success" style="width: 5%">5%</div>
          </div>
          <br>
          <h6 style="color: #0D0A0A"> BLENDER </h6>
          <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success" style="width: 15%">15%</div>
          </div>
          <br>
          <h6 style="color: #0D0A0A"> AFTER AFFECTS </h6>
          <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success" style="width: 0%">0%</div>
          </div>
        </div>

      </section>
      <hr>
      <br>
      <hr>
      <section class="p-5 pt-3" style="background: #fcfcfc">
        <h2 STYLE="text-align: center;color: #0e162e;margin-left: 5%" class=" text-center"> DENEYİMLERİM </h2>
        <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 border border-5 " style="border-radius: 30px;color: #0e162e" >
            <img class="pt-3"  src="../../static/images/tark.jpg">
            <p class="border-bottom " style="font-size: 30px; ">Türk Traktör ve Ziraat Makineleri A.Ş.</p>
            <p style="font-size: 20px" class="pb-4"> 5 Temmuz 2023 'te ilk stajıma Türk Traktör'ün Ankara fabrikasında başladım. Stajımın ana konusu imalat araç ve yöntemleriydi.
            20 günlük iş sürecinde kullanılan yöntemlerin ana mantığını bu fabrikada öğrendim
            </p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 border border-5" style="border-radius: 30px;color: #0e162e" >
            <img class="pt-3"  >
            <p class="border-bottom " style="font-size: 30px; ">ÇALIŞMA ÜZERİNDEYİM HEDEFİM:</p>
            <p style="font-size: 20px" class="pb-4">
              Google oyun tasarım ve geliştirme kursuna başvurdum. Kabul edildiğim taktirde sertifikamı paylaşaçağım.
            </p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 border border-5" style="border-radius: 30px;color: #0e162e" >
            <img class="pt-3"   >
            <p class="border-bottom " style="font-size: 30px; ">ÇALIŞMA ÜZERİNDEYİM. HEDEFİM:</p>
            <p style="font-size: 20px" class="pb-4">
              3. sınıfta yapmak istediğim aday mühendislik için şirketle başvuruyorum.
            </p>
          </div>
        </div>
        </div>
      </section>
      <hr>
      <br>
      <hr>
      <section class="section section-xl bg-default text-center p-5" id="iletişimkur">
        <div class="container">
          <p2 style="font-size: 60px;color: #0D0A0A">Son Yüklediğim Çalışmalarım</p2>
          <div class="row row-125">
            {% for element in dataset %}
            <div class=" col-lg-4 col-md-6 col-sm-12">
              <article class="post-classic">
                <figure class="post-classic-figure"><a href="#"><img src="{{element.img}}" alt="" style="width: 346px;height: 260px;" width="346" height="130"/></a></figure>
                <div class="post-classic-content">
                  <time class="post-classic-time" datetime="2019-09-19">{{element.date}}</time>
                  <h5 class="post-classic-title"><a href="#">{{element.title}}</a></h5>
                  <p style="color: #0e162e"> {{element.result}} </p>
                  <a class="post-classic-link" href=" incele/{{ element.slug }}/{{ element.id }}"  >İNCELE</a>
                </div>
              </article>
            </div>
            {% endfor %}
            
          </div>
        </div>
      </section>
      <hr>
      <br>
      <hr>
      <br>
      <section style="background: #ffffff;border-style: double;border-radius: 30px;" class="mb-5 border p-5" id="ilet2"  >
       <div class="container" style="color: #0e162e">
        <p3 style="font-size: 40px;">ELEŞTRİ, ÖNERİ VE TEKLİFLERİNİZ İÇİN BENLE İLETİŞİME GEÇİN.</p3>
        <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 mt-0 pt-0 mb-4 pb-5">
          <img src="../../static/images/email.jpg" style="width:100px;height: 100px;margin-top: 100px;margin-left: 60px">

          <a href="mailto:huba.huba_06@hotmail.com" style="margin-left: 20px" >huba.huba_06@hotmail.com</a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">

        <form method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="name">AD:</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
              <label for="surname">SOYAD</label>
              <input type="text" class="form-control" id="surname" name="surname">
            </div>
            <div class="form-group">
              <label for="email">E-MAİL</label>
              <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
              <label for="textarea">YORUM</label>
              <textarea class="form-control" rows="5" id="textarea" type="textarea" name="textarea"></textarea>
            </div>
              <div class="form-check form-check-inline" id="inlineRadioOptions">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="öneri">
                        <label class="form-check-label" for="inlineRadio1">ÖNERİ</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="eleştri">
                        <label class="form-check-label" for="inlineRadio2">ELEŞTRİ</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="teklif" >
                        <label class="form-check-label" for="inlineRadio3">TEKLİF</label>
              </div>
          <div class="row m-0">
            <div class="col-4"></div>
            <div class="col-4">
             <button type="submit" value="Submit" class="btn mb-5 btn-default align-content-center block-center block-center-header">GÖNDER</button>
            </div>
              <div class="col-4"></div>
          </div>
        </form>
          </div>

       </div>
       </div>
        <div  >
         {% for message in messages %}
      <div class="alert alert-{{ messsage.tags }} mb-4 "  role="alert">
        <h4 style="color: #0e162e;background: #6ebbff;text-align: center;border-radius: 30px"> {{ message }} </h4>
      </div>
      {% endfor %}
      {% block body %} {% endblock %}
          </div>
      </section>
    <div class="container">
      <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Ana Sayfa</a></li>
      <li class="nav-item"><a href="#hakkım1" class="nav-link px-2 text-muted">Hakkımda</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-muted" href="#çalışmadeneyim">Çalışma ve Deneyimlerim</a></li>
      <li class="nav-item"><a href="#ilet2" class="nav-link px-2 text-muted">İletişim</a></li>
    </ul>
    <p class="text-center text-muted">Copyright © 2023-2025 Ali Yılmaz | Tüm Hakları Saklıdır.</p>
  </footer>
</div>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="../../static/js/core.min.js"></script>
    <script src="../../static/js/script.js"></script>
    <!--coded by houdini-->
  </body>
</html>